.upper-nav {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.upper-nav-item, a {
    text-decoration: none;
}
.search-area {
    padding: 95px;
}
.search-field {
    margin-top: 25px;
    margin-left: 660px;
    margin-right: 660px;
    text-align: center;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    gap: 11px;
    border: 0.5px solid lightgrey;
    border-radius: 35px;
}
.input-field-bar {
    margin: left;
    padding: 14px;
    width: 560px;
    border-color: transparent;
    background: transparent;
    outline: none;
    text-indent:30px;
    background-image: url(search-loop.png);
    background-size: 20px, 20px;
    background-repeat: no-repeat;
    background-position: 15px;
}
.keyboard {
    
    width: 19px;
    height: 11px;
    background-color: white;
    border: none;
    
}
.mic {
    
    width: 14px;
    height: 21px;
    background-color: white;
    border: none;
    
}
.image {
    
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding-right: 13px;
    
}
.search-field:hover { 
    /* Add the focus effect to the form so it contains the button */
    outline: 2px ridge lightgrey 
}
#profile-pic {
    height: 33px;
    vertical-align: bottom;
    margin-right: 10px;
}
.searchbar-keyboard-button {
    
    background-color: transparent;
    border: none;
    outline: none;
    order: 1;
}
.searchbar-mic-button {
    
    background-color: transparent;
    border: none;
    outline: none;
    order: 2;
}
.searchbar-image-button {
    
    background-color: transparent;
    border: none;
    outline: none;
    order: 3;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext-keyboard {
    font-family:'Times New Roman', Times, serif;    
    visibility: hidden;
    color: white;
    text-align: center;
    border-radius: 1px;
    padding: 0.1px 0;
    position: absolute;
    z-index: 1;
    border: 3px ridge white;
    bottom: -100%;
    left: -30%;
    display: block;
    background-color: black;
    opacity: 0;
}
.tooltip:hover .tooltiptext-keyboard {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext-mic {
    font-family:'Times New Roman', Times, serif; 
    visibility: hidden;
    color: white;
    text-align: center;
    border-radius: 1px;
    padding: 0.1px 3px;
    position: absolute;
    z-index: 1;
    border: 3px ridge white;
    bottom: -100%;
    left: -30%;
    display: block;
    background-color: black;
    opacity: 0;
}
.tooltip:hover .tooltiptext-mic {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext-image {
    font-family:'Times New Roman', Times, serif;
    height: 5px;
    visibility: hidden;
    color: white;
    text-align: center;
    border-radius: 1px;
    padding: 0.1px 0;
    position: absolute;
    z-index: 1;
    border: 3px ridge white;
    bottom: -100%;
    left: -30%;
    display: block;
    background-color: black;
    opacity: 0;
}
.tooltip:hover .tooltiptext-image {
  visibility: visible;
  opacity: 1;
}
.bento-button {
    background-color: transparent;
    outline: none;
    border: none;
}
.bento-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1.5px;
    grid-row-gap: 1.5px;
    height : 16px;
    width : 16px;
    background-color: transparent;
    outline: none;
    margin: 10px;
}
.bento-dot {
    width : 4px;
    height: 4px;
    border-radius: 999px;
    background: transparent;
    overflow: hidden;
    background-color: grey;
}
.empty-space {
    padding: 95px;
}
#rainbow-name {
    display: inline;
    text-align: center;
    font-size: 50px;
}
.google-logo {
    margin: auto;
    text-align: center;
}





